#page-content{
  background-color: #f0f4f8;
  margin-left: 14rem;
  height: 100vh;
  overflow-y: scroll;
  transition: all 0.5s linear;
}



@media screen and (max-width:1006px) {
  #page-content{
      margin-left: 0 ;
  }
}

  

