.feeds-container{
    padding: 20px 20px 20px 10px;
    display: flex;
    position: fixed;
    margin-top: 30px;
}

.feed-post-content{
    width: 70%;
}

.feeds-form{
    padding: 30px 50px;
    border-radius: 15px;
    background-color: white;
    margin: 20px;
}

.feeds-form input{
    background-color: white;
    width: 100%;
    height: 2rem;
    outline: none;
    border: none;
}

.feeds-form ::placeholder{
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    font-weight: Inter;
}

.feeds-icons-container{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.feed-icon{
    font-size: 25px;
     color: #528bc5da;
}

/******* New Post ********/

.allpost-container{
    max-height: calc(100vh - 260px);
    overflow-y: scroll;
    
}
.new_post_container{
    margin: 0px auto;
    border-bottom: 1px solid #abc0d4;
    width: 100%;
    padding: 30px;
    position: relative;
}

.post-image{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    object-fit: cover;
}

.new-post-heading{
    display: flex;
    width: 100%;
}

.new-post-title{
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    width: 100%;
}
.new-post-title h4{
    margin-left: 20px;
    font-family: Inter;
    font-weight: 700;
    font-size: 20px;
}

.post-content{
    margin-top: -15px;
    margin-left: 4rem;
    width: 80%;
}

.post-content p{
   max-width: 100%;
   font-size: 14px;
}
.love-icon{
    color: red;
    margin: 5px;
}
.post-content span{
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: bolder;
}

.vertical-dots{
    font-size: 30px;
    color: #454a4f;
}

.post-options{
    position: absolute;
    right: 7%;
    padding: 0rem 1rem;
    background-color: white;
    bottom: 40%;
    border: 1px solid #a6bfe8ac;
    border-radius: 8px;
    box-shadow: var(--shadow-3);
}
.post-options span{
    font-family: Inter;
    font-weight: 200;
    cursor: pointer;
    display: flex ;
    align-items: center;
    border-bottom: 1px solid #abc0d4;
    line-height: 0;
    margin: 20px auto;
}
.post-options p{
    margin-bottom: 0px;
    font-family: Inter;
    font-size: 14px;
}
.delete-post{
    color: rgba(255, 0, 0, 0.742);
    font-size: 14px; 
    margin-right: 10px;
}

.edit-post{
    color: rgba(0, 128, 0, 0.61);
    font-size: 14px;
    margin-right: 10px;
}



/******** feed box content *****/


.feedbox-content-container{
    width: 30%;
    margin: 12px 0;
    margin-left: 20px;
    height: calc(100vh - 130px);
    margin-top: 20px;
}


.feedbox-img-container{
    width: 100%;
    height:25%;
    object-fit: contain;
    margin-bottom: 20px;
}



.feedbox-img-container img{
    width: 100%;
    height: 100%;
}
.feedbox-content{
    background: white;
    margin: 0px 0px;
    border-radius: 10px;
    font-family: Inter;
    padding: 5px 5px 5px 5px;
    height: 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}


.feedbox-content h2{
    font-size: 16px;
    font-weight: 900;
    border-bottom: 1px solid #E3E3E3;
    margin: 3px auto 12px auto
}

.box-item{
    display: flex;
    align-items: center;
     margin-left: 20px;
     line-height: 0;
}

.box-item h4{
    font-size: 12px;
    font-weight: 600;
    font-family: Inter;
}

.box-item span{
    background-color: #8C44F7;
    width: 20px;
    height: 20px;
    border-radius: 6px;
    color: white;
    margin-right: 10px;
    margin-top: -10px;
}

.box-icon{
    width: 70%;
    margin: 2px auto;
    display: block;
}


.boxfeed-btn{
    display: block;
    background: #3750CF;
    margin: -10px auto 10px auto;
    outline: none;
    border: none;
    padding: 5px 15px;
    border-radius: 4px;
    color: white;
    font-size: 12px;
}

.feedbox-content h3{
    margin-top:14px;
    font-size: 14px;
    font-family: Inter;
    font-weight: 500;
    padding-top: 0px;
    padding-bottom: 0px;
    border-bottom: 1px solid #E3E3E3;
   margin: 2px 0;
  
}

.feedbox-content p{
    font-family: Inter;
    font-size: 12px;
    font-weight: 500;
    line-height: 20px;
    text-align: center;

}

@media screen and (max-width:708px) {
    .box-item{
        margin-left: 5px;
    }
    .post-content{
        width: 80%;

    }
}
@media screen and (max-width:650px) {
    .feedbox-content-container{
        display: none;
    }
    .feed-post-content{
        width: 100%;
    }
    feeds-form{
        padding: 10px 20px;
    }
    .feeds-form input{
        height: 1rem;
    }
    .feeds-container{
        padding: 20px 5px;
    }
    .new_post_container{
        padding: 10px;
    }
}

@media screen and (max-width:450px) {
    .post-options{ 
        bottom: 60%;
    }
}
@media screen and (max-width:370px) {
    .post-options{ 
        bottom: 65%;
    }
    .feeds-form{
        padding: 30px;
        margin: 0 10px 5px 10px;
    }
    .new_post_container{
        padding: 10px;
    }
    .post-image{
        width: 30px;
        height: 30px;
    }
    .new-post-title{ 
        margin-top: 0px;
    }
    .new-post-title h4{
        margin-left: 15px;
        font-size: 18px;
    }
    
    .post-content{
        margin-left: 2.5rem;
    }
    
    .post-content p{
       font-size: 13px;
    }
}