.application-results{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    grid-auto-rows: minmax(200px,1fr);
    gap: 30px;
    margin-top:40px;
}

.application-loader{
  margin: auto;
}

.application-results{
  display:grid;
  grid-template-columns: repeat(4,1fr);
  grid-auto-rows: minmax(200px,1fr);
  gap: 30px;
  margin-top:40px;
}

@media screen and (max-width:760px) {
  .application-results{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    grid-auto-rows: minmax(200px,1fr);
  }
}
@media screen and (max-width:370px) {
  .application-results{
    display:grid;
    grid-template-columns: repeat(1,1fr);
    grid-auto-rows: minmax(200px,1fr);
  }
}



